body {
  margin: 0;
  font-family: arial,sans-serif;
}

div#topic-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  box-sizing: border-box;
  overflow: scroll;
}
div#topic-container svg {
  height: 1em;
  position: relative;
  top: 2px;
}

div.topic {
  position: relative;
  width: 95%;
  border: 1px solid #0002;
  border-radius: .5em;
  box-shadow: inset 0 -1px 1px 1px #0005;
  padding: .5em;
  margin: .5em 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

div.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

div.topic.open > div.caption {
  border-bottom: 1px solid gray;
}

div.title {
  float: left;
}


div.date {
  float: right;
  color: gray;
  font-size: .9em;
}

div.content {
  display: none;
  padding: .5em 0;
  font-size: .9em;
  position: relative;
  top: .3em;
}

div.topic.open > div.content {
  display: block;
}
