<!DOCTYPE html>
<html>
  <head>
    <title>参加 | ワーカースケジュール </title>
    <meta charset="utf-8" />
    <meta name="description" content="グループへの招待が来ています。URLをクリックして参加しましょう！">
    <meta property="og:description" content="グループへの招待が来ています。URLをクリックして参加しましょう！" />
    <meta property="og:title" content="参加 | ワーカースケジュール" />
    <meta property="og:image" content="https://cdn.glitch.com/858db837-c931-46a2-a794-b369c1dc5838%2Ficon2.png?v=1619924982787" />
    <meta property="og:url" content="https://www.worker-schedule.com/" />
    <meta property="og:locale" content="ja_JP" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
  </head>
  <body>
    message
  </body>
</html>