<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>ログイン</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "../js/setVH.js"></script>
    <script src = "../js/login.js"></script>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div id = "login">
      <div id = "sign-in" class = "button">
        <div class = "login-form">
          <div class = "input-wrapper">
            <div class = "name">
              <input name = "name" placeholder=" ">
              <label>Name</label>
            </div>
            <div class = "password">
              <input type = "password" name = "password" placeholder=" " autocomplete="new-password">
              <label>Password</label>
            </div>
          </div>
        </div>
        <div class = "button-text">
          Sign in
        </div>
      </div>
      <div id = "sign-up" class = "button">
        <div class = "login-form">
          <div class = "input-wrapper">
            <div class = "name">
              <input name = "name" placeholder=" ">
              <label>Name</label>
            </div>
            <div class = "password">
              <input type = "password" name = "password" placeholder=" ">
              <label>Password</label>
            </div>
          </div>
        </div>
        <div class = "button-text">
          Sign up
        </div>
      </div>
      
      
<!--       <div id = "login-form">
        <div id = "input-wrapper">
          <div id = "name">
            <input placeholder=" ">
            <label>Name</label>
          </div>
            <div id = "password">
              <input placeholder=" ">
              <label>Password</label>
          </div>
        </div>
        <div class = "login-button">
          <div id = "login-text">Sign Up</div>
        </div>
      </div> -->
    </div>
  </body>
</html>