<!DOCTYPE html>
<html>
  <head>
    <title>再設定</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <link rel="stylesheet" href="../css/forget.css" />
    <link rel="icon" href="https://cdn.glitch.com/858db837-c931-46a2-a794-b369c1dc5838%2Fedaca749af994c1c65872914e4ac2922_xxo.ico?v=1619855357845">
    <script src = "../js/setVH.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="form">
        <form action="/reset" accept-charset="utf8" method="post">
          <label>再設定用のパスワードを入力してください(8文字以上)<br></label>
          <input name="password" type="text" minlength="8" required><br>
          <input type="submit" value="設定">
        </form>
      </div>
    </div>
  </body>
</html>